{% extends 'home/index.html' %}


{% block content %}

<div class="main_container">
    {% include 'seccess_form.html' %}
    {% include 'error_form.html' %}
    <div class="registration_container">
        <form class="form_registation" method="post" enctype="multipart/form-data"> {% csrf_token %}
            <h4>REGISTRATION</h4>
            {{form}}
            <!-- <input class="registration_login_form" type="text" autocomplete="off" name="login" placeholder="Login ..." value="">
            <input class="registration_password_form" type="password"autocomplete="off"  name="password" placeholder="Password ..." value=""> -->
            <button type="submit" name="button">REGISTRATION</button>
        </form>
    </div>
</div>


{% endblock %}
