<div class="header">
    <div class="header_menu_and_search">
        <ul>
            <li>
                <a href="">HOME</a>
            </li>
            <li>
                <a href="">EVENTS</a>
            </li>
            <li>
                <a href="">TOP</a>
            </li>
        </ul>
    </div>
    <div class="header_search">
        <input type="text" name="" placeholder="Search ..." value="">
    </div>

    <div class="header_info_user">
        <a href="">
            <img src="https://pp.userapi.com/c845521/v845521265/1958c1/Pwk8qgTbAog.jpg" width="30px" height="30px" />
        </a>
        <a class="btn_add_new" href="">PLUS NEW</a>
    </div>
</div>
