<div class="header">
    <div class="header_menu_and_search">
        <ul>
            <li>
                <a href="{% url 'home:home_page' %}">HOME</a>
            </li>
            <li>
                <a href="">EVENTS</a>
            </li>
            <li>
                <a href="">TOP</a>
            </li>
        </ul>
    </div>
    <div class="header_search">
        <input type="text" name="" placeholder="Search ..." value="">
    </div>

    <div class="header_info_user">
        {% if user.is_authenticated %}
            <a class="btn_add_new" href="">PLUS NEW</a>
            <a class="btn_log_out" href="{% url 'home:logout' %}">log out</a>
        {% else %}
            <a  class="btn_login" href="{% url 'home:login_page' %}">login</a>
        {% endif %}
    </div>
</div>
