{% load static %}
<div class="info_item_container">
    <div class="item_comments">
        <img src="{% static 'img/comment.png' %}" alt="">
        <span>{{post.comment_set.all.count}}</span>
    </div>
    <div class="item_likes">
        {% if user.profile in post.likes.all %}
            <img src="{% static 'img/likered.png' %}" alt="">
        {% else %}
            <img src="{% static 'img/like.png' %}" alt="">
        {% endif %}
        <span>{{post.likes.count}}</span>
    </div>


<script type="text/javascript">
    $(function() {

    })
</script>

</div>
