{% load static %}
<div class="plusnew_container">

    <form action="{% url 'home:plusnew' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
        <textarea class="text_area" maxlength="500" required name='text' placeholder="You story ...  max 500"></textarea>
            <div class="result_upload_img"></div>
            <input id="file" type="file" name="img"  multiple class="inputfile" /><br/>
            <label class="label_file" for="file">
                <img src="{% static 'img/photo-camera.png' %}" alt="">
            </label><br/>
        <button type="submit" name="button">NEW</button>
    </form>
<script src="{% static 'js/preloadimg.js' %}"></script>
</div>
