{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Mina:400,700" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
        <title> HOME PAGE </title>
    </head>
    <body>
        {% include 'header.html' %}
        {% include 'plusnew.html' %}
        {% block content %}
            <div class="main_container">
                <div class="masonry">
                    {% for post in posts %}
                        <div class="item">
                            <div class="post_info_user">
                                {% if post.profile.img %}
                                    <img src="{{post.profile.img.url}}" width="30px" height="30px" alt="">
                                {% else %}
                                    <img src="https://www.basko.it/photo/noicon.png" width="30px" height="30px" alt="">
                                {% endif %}
                                <a href="{{post.profile.get_absolute_url}}">{{post.profile.user}}</a>
                                <span>{{post.date_create|date:'m-d-y'}}</span>
                            </div>
                            <p>{{post.text}}<p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endblock %}
    <script src="{% static 'js/main.js' %}" type="text/javascript"></script>
    </body>
</html>
