* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mina', sans-serif;
}

.header {
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    z-index: 10;
}


.header .header_search input  {
    width: 250px;
    border: 2px solid #e6e6e6;
    padding: 1px 10px;
    border-radius: 20px;
    outline: none;
    font-size: 12px;
    font-weight: bold;
}

.header .header_search input:focus {
    border: 2px solid grey;
}



.header .header_menu_and_search ul li {
    display: inline-block;
    margin: 10px;
}

.header .header_menu_and_search ul li a {
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
    color: #292828;
}


.header_info_user {
    display: flex;
    justify-content: center;
    align-items: center;
}


.header_info_user img {
    margin-top: 5px;
    border-radius: 50%;
}


.header_info_user .btn_add_new {
    font-size: 8px;
    font-weight: bold;
    color: grey;
    border: 2px solid grey;
    border-radius: 20px;
    padding: 3px 20px;
    margin-left: 10px;
    text-decoration: none;
    transition-property: background-color, color;
    transition-duration: 0.3s;
}



.header_info_user .btn_add_new:hover {
    background-color: grey;
    color: white;
}

.header_info_user .btn_login {
    font-size: 12px;
    text-decoration: none;
    color: grey;
    font-weight: bold;
}

.main_container {
    margin: 60px auto;
}

.main_container .login_container {
    margin: 50px auto;
    text-align: center;
    display: flex;
    justify-content: center;
}


.login_container_show {
    width: 40%;
    border: 5px solid white;
    border-radius: 3px;
    background-color: white;
    text-align: center;
    padding: 10px;
}

.login_container_show form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_container_show form input {
    width: 60%;
    margin: 10px;
    border: 2px solid grey;
    border-radius: 20px;
    outline: none;
    background-color: white;
    padding: 3px 10px;
    font-size: 12px;
}


.login_container_show form input:focus {
    border: 2px solid #292828;
}


.login_container_show form button {
    border: 2px solid grey;
    background-color: white;
    border-radius: 20px;
    padding: 3px 30px;
    font-size: 10px;
    font-weight: bold;
    color: grey;
    outline: none;
    cursor: pointer;
    transition-property: background-color, color;
    transition-duration: 0.3s;
}

.login_container_show form button:hover {
    background-color: grey;
    color: white;
}


.btn_log_out {
    font-size: 10px;
    color: grey;
    text-decoration: none;
    margin-left: 10px;
}
