
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mina', sans-serif;
}

body {
    background-color: #fcfcfc;
    /* background-color: #f7f7f7; */
    /* background-color: #ddebea; */
    /* background-color: #e9f5f4; */
    /* background-color: white; */
}


.header {
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    z-index: 10;
}


.header .header_search input  {
    width: 250px;
    border: 1px solid #e8e8e8;
    padding: 2px 10px;
    border-radius: 20px;
    outline: none;
    font-size: 12px;
    font-weight: normal;
}



.header .header_menu_and_search {
    display: flex;
    justify-content: center;
    align-items: center;
}


.header_info_user {
    display: flex;
    justify-content: center;
    align-items: center;
}


.header_info_user img {
    margin-top: 7px;
    border-radius: 50%;
}

.header_info_user a {
    text-decoration: none;
}

.not_avatar {
    font-size: 12px;
    text-decoration: none;
    color: #292828;
}

.header_info_user .btn_add_new {
    font-size: 10px;
    font-weight: bold;
    color: #292828;
    border: 2px solid #292828;
    border-radius: 20px;
    padding: 3px 20px;
    margin-left: 10px;
    text-decoration: none;
    transition-property: background-color, color;
    transition-duration: 0.3s;
}



.header_info_user .btn_add_new:hover {
    background-color: #292828;
    color: white;
}

.header_info_user .btn_login {
    font-size: 12px;
    text-decoration: none;
    color: #292828;
    text-transform: uppercase;
    font-weight: normal;
}

.main_container {
    margin: 60px auto;
}

.main_container .login_container {
    margin: 50px auto;
    text-align: center;
    display: flex;
    justify-content: center;
}


.login_container_show {
    width: 40%;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    padding: 10px;
    margin: 50px auto;
    box-shadow: 0 0 50px #e6e6e6;
}

.login_container_show form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_container_show form input {
    width: 60%;
    margin: 10px;
    border: none;
    border-bottom: 2px solid #e6e6e6;
    border-radius: 2px;
    outline: none;
    background-color: white;
    padding: 3px 10px;
    font-size: 12px;
    font-weight: bold;
}


.login_container_show form input:focus {
    border: none;
    border-bottom: 2px solid #292828;
}


.login_container_show form button {
    border: 2px solid #292828;
    background-color: white;
    border-radius: 20px;
    padding: 3px 30px;
    font-size: 10px;
    font-weight: bold;
    color: #292828;
    outline: none;
    cursor: pointer;
    transition-property: background-color, color;
    transition-duration: 0.3s;
}

.login_container_show form button:hover {
    background-color: #292828;
    color: white;
}


.btn_log_out {
    font-size: 10px;
    color: grey;
    text-decoration: none;
    margin-left: 10px;
}


.main_container .registration_container {
    width: 40%;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 100px auto;
    box-shadow: 0 0 50px #e6e6e6;
    border-radius: 10px;
    background-color: white;

}

.registration_container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registration_container form input[type='text'], input[type='password'] {
    width: 300px;
    border: none;
    border-bottom: 2px solid #e6e6e6;
    border-radius: 2px;
    padding: 3px 10px;
    font-size: 12px;
    font-weight: bold;
    margin: 10px;
    outline: none;
}

.registration_container form input[type='text']:focus, input[type='password']:focus {
    border: none;
    border-bottom: 2px solid #292828;
}


.registration_container form button {
    border: 2px solid #292828;
    background-color: white;
    border-radius: 20px;
    padding: 3px 30px;
    font-size: 10px;
    font-weight: bold;
    color: #292828;
    outline: none;
    cursor: pointer;
    transition-property: background-color, color;
    transition-duration: 0.3s;
}

.registration_container form button:hover {
    background-color: #292828;
    color: white;
}


.registration_btn {
    font-size: 10px;
    font-weight: bold;
    text-decoration: underline;
    color: grey;
}

.seccess_form {
    position: absolute;
    top: 150px;
    left: 30%;
    width: 40%;
    background-color: #18c98e;
    border-radius: 3px;
    box-shadow: 0 0 50px grey;
    padding: 10px;
    display: none;
    text-align: center;
}

.seccess_form p {
    color: white;
    font-weight: bold;
}

.error_form {
    position: absolute;
    top: 150px;
    left: 30%;
    width: 40%;
    background-color: #f56767;
    border-radius: 3px;
    box-shadow: 0 0 50px grey;
    padding: 10px;
    display: none;
    text-align: center;
}

.error_form p {
    color: white;
    font-weight: bold;
}





.main_container .profile_info_container {
    width: 70%;
    height: 200px;
    margin: 10px auto;
    display: flex;
}


.main_container .profile_info_container .profile_avatar {
    width: 30%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}



.main_container .profile_info_container .profile_avatar .avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    max-width: 100%;
    border: 3px solid white;
}


.admin {
    position: absolute;
    top: 4px;
    right: -30px;
}



.main_container .profile_info_container .profie_info {
    width: 70%;
    padding: 30px;
}

.profie_info .profile_username {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.username {
    position: relative;
}

.profile_username span {
    font-size: 18px;
    font-weight: bold;

}

.profile_username .btn_settings {
    border: 2px solid #292828;
    border-radius: 20px;
    font-size: 10px;
    font-weight: bold;
    padding: 2px 30px;
    color: white;
    text-decoration: none;
    outline: none;
    background-color: #292828;
}



.profile_descripton {

}


.profile_descripton p {
    font-size: 12px;
    color: grey;
}


.profile_settings {
    width: 60%;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
}

.profile_settings .profile_settings_username {
    color: #292828;
}

.profile_settings p {
    font-size: 12px;
    color: grey;
    font-weight: bold;
}

.profile_settings form {
    margin-top: 20px;
}

.profile_settings form label {
    font-size: 14px;
    font-weight: bold;
}

.profile_settings form input {
    width: 40%;
    padding: 3px 10px;
    border: none;
    border-bottom: 2px solid #e6e6e6;
    border-radius: 2px;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    margin: 10px;
}

.profile_settings form input:focus {
    border: none;
    border-bottom: 2px solid #292828;
}


.profile_settings form textarea {
    width: 40%;
    height: 200px;
    padding: 3px 10px;
    border: 2px solid #e6e6e6;
    border-radius: 10px;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    margin: 10px;
    resize: none;
}

.profile_settings form textarea:focus {
    border: 2px solid #292828;
}


.profile_settings .div_file {
    margin-bottom: 20px;
}

.profile_settings .div_file  .inputfile {
	display: none;
}



.profile_settings .div_file .label_file {
    border: 2px solid #292828;
    padding: 2px 20px;
    font-size: 8px;
    font-weight: bold;
    border-radius: 20px;
    color: #292828;
    cursor: pointer;
    transition-property: background-color, color;
    transition-duration: 0.3s;
}

.profile_settings .div_file .label_file:hover {
    background-color: #292828;
    color: white;
}




.profile_settings form button {
    border: 2px solid #292828;
    border-radius: 20px;
    font-size: 10px;
    font-weight: bold;
    padding: 2px 30px;
    color: white;
    text-decoration: none;
    outline: none;
    background-color: #292828;
    cursor: pointer;
}



.profile_settings .settings_img {
    border-radius: 50%;
    border: 3px solid white;
}

.events_container {
    width: 90%;
    margin: 0 auto;
}

.events_container .main_events {
    width: 100%;
    border: 1px solid black;
}


.masonry { /* Masonry container */
    width: 90%;
    margin: 0 auto;
    column-count: 3;
    column-gap: 1em;
}

.item { /* Masonry bricks or child elements */
    background-color: white;
    display: inline-block;
    width: 100%;
    font-size: 14px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    /* border: 1px solid #e6e6e6; */
}

.item a {
    text-decoration: none;
}

.item p {
    font-weight: bold;
    color: #6b6b6b;
    font-size: 14px;
}


.item .post_info_user {
    display: flex;
    align-items: center;
}

.item .post_info_user img {
    border-radius: 50%;
    margin-right: 10px;
}

.item .post_info_user a {
    font-size: 12px;
    font-weight: bold;
    color: #292828;
    text-decoration: none;
    margin-right: 10px;
}

.item .post_info_user span {
    font-size: 8px;
    color: grey;
}






@media only screen and (min-width: 1024px) {
  .masonry {
    column-count: 3;
  }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 739px) {
  .masonry {
    column-count: 2;
  }
}

/* Masonry on small screens */
@media only screen and (max-width: 740px) and (min-width: 540px) {
  .masonry {
    column-count: 1;
  }
}


@media only screen and (max-width: 540px) and (min-width: 320px) {
  .masonry {
    column-count: 1;
  }
}

@media only screen and (max-width: 319px) and (min-width: 0px) {
  .masonry {
    column-count: 1;
  }
}




.plusnew_container {
    position: fixed;
    top: 100px;
    left: 30%;
    background-color: white;
    width: 40%;
    box-shadow: 0 0 50px black;
    display: none;
    text-align: center;
    padding: 25px;
    border-radius: 10px;
    z-index: 10;
}

.plusnew_container form textarea {
    width: 100%;
    height: 200px;
    resize: none;
    border: 2px solid #e6e6e6;
    padding: 10px;
    font-size: 12px;
    outline: none;
    border-radius: 10px;
}

.plusnew_container form textarea:focus {
    border: 2px solid #292828;
}

.plusnew_container form button {
    padding: 3px 30px;
    border: 2px solid #292828;
    border-radius: 20px;
    font-size: 8px;
    font-weight: bold;
    color: #292828;
    outline: none;
    cursor: pointer;
    background-color: white;
    transition-property: background-color, color;
    transition-duration: 0.3s;
}


.plusnew_container form button:hover {
    background-color: #292828;
    color: white;
}


.img_post {
    width: 100%;
    height: 300px;
}


.img_post .rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.img_post .rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.img_post .rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.img_post .rslides img {
    display: block;
    height: 300px;
    float: left;
    width: 100%;
    border: 0;
    border-radius: 10px;
 }

.profile_posts {

}



.div_file_new {
    /* margin-bottom: 20px; */
}

.inputfile {
	display: none;
}



.label_file {
    /* border: 2px solid #292828;
    padding: 2px 20px;
    font-size: 8px;
    font-weight: bold;
    border-radius: 20px;
    color: #292828;
    cursor: pointer;
    transition-property: background-color, color;
    transition-duration: 0.3s; */
    cursor: pointer;
}

.result_upload_img {
    display: flex;
    flex-wrap: wrap;
}

.result_upload_img img {
    width: 50px;
    height: 50px;
    max-width: 50px;
    border-radius: 10px;
}


.update_btn_new {
    position: fixed;
    top: 80px;
    left: 45%;
    font-size: 8px;
    font-weight: bold;
    background-color: #4fa2f0;
    color: white;
    padding: 5px 50px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    z-index: 10;
    text-decoration: none;
    text-transform: uppercase;
    display: none;
}


.not_found_search {
    text-align: center;
}




.detail_post_container {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 25px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    /* box-shadow: 0 0 10px grey; */
}

.detail_post_user {
    margin-bottom: 20px;
}

.detail_post_user img {
    border-radius: 50%;
}

.detail_post_user a {
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: #292828;
}

.detail_post img {
    border-radius: 10px;
    overflow: hidden;
}

.detail_post p {
    color: grey;
    font-weight: bold;
}

.detail_post span {
    font-size: 10px;
    color: #e6e6e6;
}


.form_comment {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_comment form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.form_comment form img {
    border-radius: 50%;
    margin-right: 10px;
}

.form_comment form input {
    width: 400px;
    border: 2px solid grey;
    padding: 7px;
    border-radius: 20px;
    outline: none;
    font-size: 12px;
}

.form_comment form input:focus {
    border: 2px solid #292828;
}




.comments_container .chat {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    margin: 20px auto;
    width: 60%;
    text-align: left;
}

.comments_container .chat .user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.comments_container .chat .user-photo img {
    width: 100%;
    border-radius: 50%;
}

.comments_container .chat .user-message {
    width: 80%;
    padding: 10px;
    margin: 0px 5px 0;
    /* background-color: #499cf5; */
    border-radius: 10px;
    font-size: 12px;
    color: grey;
    font-weight: bold;
}

.info_item_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5px;
}

.info_item_container img {
    margin-right: 5px;
}

.info_item_container span {
    color: #979696;
    font-size: 10px;
    font-weight: bold;
}

.item_comments {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item_likes {
    display: flex;
    justify-content: center;
    align-items: center;

}

.like_container_detail {
    position: absolute;
    width: 20px;
    top: 10px;
    right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.post_like_count {
    font-size: 10px;
}
