{% extends 'home/index.html' %}
{% load static %}
{% block content %}

    <div class="main_container">



        <div class="detail_post_container">
            {% include 'back.html' %}
            <div class="like_container_detail">
            <p class="post_like_count">{{post.likes.count}}
                    <!-- <a class="a_like" href="{{post.get_like_url}}"> -->
                    <a class="a_like" href="">
                        {% if user.profile in post.likes.all %}
                            <img src="{% static 'img/likeBGRED.png' %}" alt="">
                        {% else %}
                            <img src="{% static 'img/likeBG.png' %}" alt="">
                        {% endif %}
                    </a>
            </p>
            </div>
            <div class="detail_post_user">
                {% if post.profile.img %}
                    <img src="{{post.profile.img.url}}" width="50px" height="50px" alt="">
                {% else %}
                    <img src="https://www.basko.it/photo/noicon.png" width="50px" height="50px" alt="">
                {% endif %}
                    <br/>
                    <a href="{{post.profile.get_absolute_url}}">{{post.profile.user}}</a>
            </div>

            <div class="detail_post">
                <p>{{post.text}}</p>
                {% if post.img_set.all %}
                    {% for i in post.img_set.all %}
                        <img src="{{i.img.url}}" width="60%" alt=""><br/>
                    {% endfor %}
                {% endif %}
            <span>{{post.date_create|date:'m-d-y'}}</span>
            </div>

            <div class="comments_container">
                {% if post.comment_set.all %}
                    {% for i in post.comment_set.all %}
                    <div class="chat">
                        <a href="{{i.profile.get_absolute_url}}" target="_blank">
                        <div class="user-photo">
                            {% if i.profile.img %}
                                <img src="{{i.profile.img.url}}" alt="">
                            {% else %}
                                <img src="https://www.basko.it/photo/noicon.png" alt="">
                            {% endif %}
                        </div>
                        </a>
                        <p class="user-message">{{i.text}}</p>
                    </div>
                    {% endfor %}
                {% else %}
                {% endif %}

            </div>


            {% if  user.is_authenticated %}
            <div class="form_comment">
                <form id="form_comment">
                    {% if user.profile.img %}
                        <img class="avatar" src="{{user.profile.img.url}}" alt="" width="40px" height="40px" />
                    {% else %}
                        <img src="https://www.basko.it/photo/noicon.png" width="40px" height="40px" alt="">
                    {% endif %}
                    <input type="text" maxlength="500" class="msg_form" name="" placeholder="Comment ... max 500" value="">
                </form>
            </div>
            {% endif %}
        </div>
    </div>
<script type="text/javascript">
    $(function() {

            $('.a_like').click((e)=> {
                e.preventDefault();
                console.log("CLIKC ...");
            })



            let loc = window.location;
            let wsStart = 'ws://';
            if(loc.protocol == 'https:') {
                wsStart = 'wss://';
            }

            let endPoint = wsStart + loc.host + loc.pathname
            let wsMsg = new WebSocket(endPoint);

            wsMsg.onopen = function(e) {
                console.log("OpenMSG", e)
            }

            wsMsg.onmessage = function(e) {
                console.log("Message", e)
                let current_data = JSON.parse(e.data)
                let img_profile = current_data['url_img']
                let url_profile = current_data['url_profile']
                let img = "https://www.basko.it/photo/noicon.png"
                let current_url_profile = 'http://' + loc.host + url_profile
                if(img_profile) {
                    img =  'http://' + loc.host + img_profile
                }

                console.log(current_url_profile)

                $('.comments_container')
                    .append(`<div class="chat">
                        <a href=${current_url_profile} target="_blank">
                        <div class="user-photo">
                            <img src=${img} />
                        </div>
                        </a>
                        <p class="user-message">${current_data['message']}</p></div>`);
             }



            $('#form_comment').on('submit', (e)=> {
                e.preventDefault();
                let text = $('.msg_form').val();
                let data = {
                    'message': text
                }
                wsMsg.send(JSON.stringify(data))
                $('#form_comment')[0].reset();
            })
    })
</script>

<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}
