{% extends 'home/index.html' %}
{% load static %}

{% block content %}
<div class="main_container">
    <div class="profile_info_container">
        <div class="profile_avatar">
            {% if profile.img %}
                <img class="avatar" src="{{profile.img.url}}" alt="">
            {% else %}
                <img class="avatar" src="https://www.basko.it/photo/noicon.png" />
            {% endif %}
        </div>

        <div class="profie_info">
            <div class="profile_username">

                <div class="username">
                    {% if profile.is_offical %}
                        <img src="{% static 'img/superuser.png' %}" class="admin" alt="">
                    {% else %}

                    {% endif %}
                    <span>{{profile.user.username}}</span>
                </div>
                {% if user == profile.user %}
                    <a class="btn_settings" href="{{profile.get_absolute_url_settings}}">SETTINGS</a>
                {% else %}
                {% endif %}
            </div>
            <div class="profile_descripton">
                {% if profile.description %}
                <p>
                    {{profile.description}}
                </p>
                {% endif %}
            </div>
        </div>
    </div>

</div>

{% endblock %}
