{% extends 'home/index.html' %}
{% load static %}

{% block content %}
<div class="main_container">
    <div class="profile_info_container">
        <div class="profile_avatar">
            {% if profile.img %}
                <img class="avatar" src="{{profile.img.url}}" alt="">
            {% else %}
                <img class="avatar" src="https://www.basko.it/photo/noicon.png" />
            {% endif %}
        </div>

        <div class="profie_info">
            <div class="profile_username">

                <div class="username">
                    {% if profile.is_offical %}
                        <img src="{% static 'img/superuser.png' %}" class="admin" alt="">
                    {% else %}

                    {% endif %}
                    <span>{{profile.user.username}}</span>
                </div>
                {% if user == profile.user %}
                    <a class="btn_settings" href="{{profile.get_absolute_url_settings}}">SETTINGS</a>
                {% else %}
                {% endif %}
            </div>
            <div class="profile_descripton">
                {% if profile.description %}
                <p>
                    {{profile.description}}
                </p>
                {% endif %}
            </div>
        </div>
    </div>


    <div class="profile_posts">
        {% if profile.post_set.all %}
        <div class="masonry">
            {% for post in profile.post_set.all %}
                <div class="item">
                    <div class="post_info_user">
                        {% if post.profile.img %}
                            <img src="{{post.profile.img.url}}" width="30px" height="30px" alt="">
                        {% else %}
                            <img src="https://www.basko.it/photo/noicon.png" width="30px" height="30px" alt="">
                        {% endif %}
                        <a href="{{post.profile.get_absolute_url}}">{{post.profile.user}}
                            {% if post.profile.is_offical %}
                                <img src="{% static 'img/superuser.png' %}" alt="">
                            {% endif %}
                        </a>
                        <span>{{post.date_create|date:'m-d-y'}}</span>
                    </div>
                    <a href="{{post.get_absolute_url}}"><p>{{post.text}}<p></a>
                    {% if post.img_set.all %}
                    <div class="img_post">
                        <ul class="rslides">
                            {% for i in post.img_set.all %}
                            <li><img src="{{i.img.url}}" alt=""></li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}


                    <div class="info_item_container">
                        <div class="item_comments">
                            <img src="{% static 'img/comment.png' %}" alt="">
                            <span>12</span>
                        </div>
                        <div class="item_likes">
                            <img src="{% static 'img/likered.png' %}" alt="">
                            <span>213</span>
                        </div>
                    </div>


                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>

</div>

{% endblock %}
