{% extends 'home/index.html' %}
{% load static %}


{% block content %}

    <div class="main_container">
        <div class="profile_settings">
            <h4>Hi, <span class="profile_settings_username">{{profile.user}}</span></h4>
            <p>You can update some fields.</p>
            <form class="" method="post" enctype="multipart/form-data">{% csrf_token %}
                {% if profile.img %}
                    <img class='settings_img' src="{{profile.img.url}}" width="200px" height="200px" alt=""><br/>
                {% else %}
                    <img class="settings_img" src="https://www.basko.it/photo/noicon.png" width="200px" height="200px" alt=""><br/>
                {% endif %}
                <div class="div_file">
                    <input type="file" id="fileprofile" name="img" class="inputfile" /><br/>
                    <label class="label_file" for="fileprofile">NEW PHOTO</label><br/>
                </div>

                <label for="login_update">LOGIN</label><br/>
                <input id='login_update' type="text" name="login" placeholder="Login ..." value="{{profile.user}}"><br/>

                <label for="">DESCRIPTION</label><br/>
                <textarea maxlength="300" name='description'>{{profile.description}}</textarea><br/>
                <button type="submit" name="button">UPDATE</button>

            </form>
        </div>
    </div>

<script src="{% static 'js/preloadimg.js' %}" type="text/javascript"></script>

{% endblock %}
